/*header*/


*{
    margin: 0;
    padding: 0;
}
/* pagina principal*/
.header{
     padding: 2%;
     display: flex;
     flex-direction:row;
     justify-content: space-between;
     align-items: center;
     font-family: 'Open Sans', sans-serif;
     background-color:grey;
    }

.imagenlogo{
     width: 8%;
     margin-left: 7px; 
     margin-top: 7px;
}

nav{
    width: 40%;
    margin-right: 20px;
    float: right;

}
nav ul li{
   list-style: none;
   margin-left: 75px;
   padding: 12px 0;
   float: left;
   position: relative;
    
    }

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background:white;
    height: 1px;
    top: 0;
    position: absolute; 
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;

    
}


/*main*/
.contenido{
    display: contents;
}
h1{
    text-align: center;
    margin: 70px;
    letter-spacing: 7px;
    font-size: 600%;
    font-family: 'Rubik Glitch', cursive;
}

h2 {
    text-align: end;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 200;
    font-family: 'Open Sans', sans-serif;}
 .ojo{
     width: 75%;
     height: 75%;
     margin-left: 180px;
     margin-top: 130px;
     shape-image-threshold: 3px;
    }

    h3 {
        margin-top: 150px;
        margin-left: 20px;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

.textoprincipal{
 
    display: flex;
    margin-top: 20px;
    margin-left: 20px;   
    text-decoration: gray;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
     }
    
.fotos{
    width: 100%;
}

.grid{
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 2 rem;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 500px);
    grid-template-areas: "ele2 ele1 ele1"
                         "ele2 ele3 ele3"
                         "ele2 ele4 ele5";
    gap: 0.3rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.grid_hijo{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.grid_look{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.grid_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_hijo--1{
    background-color: yellow;
    grid-area: ele1;
}
.grid_hijo--2{
    background-color:red;
    grid-area: ele2;
}
.grid_hijo--3{
    background-color: blue;
    grid-area: ele3;
}
.grid_hijo--4{
    background-color: green;
    grid-area: ele4;

}
.grid_hijo--5{
    background-color: grey;
    grid-area: ele5;
}

/*.mobile {
    display: none;
  
   }*/


/* Footer */

   footer{
        display: flex; 
        flex-direction: row;
        justify-content: space-between; }

   .despedida{
        display: flex;
        margin-top: 100px;
        margin-left: 20px; 
        margin-bottom: 100px;  
        text-decoration: gray;
        font-family: 'Open Sans', sans-serif;
        align-items: center;
  }

    /*hi there page*/

    h4 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 300%;
        font-family: 'Open Sans', sans-serif;
        margin-top: 150px;
        font-weight: 500;
    }
    .textoprincipalhithere {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;   
            text-decoration: gray;
            font-family: 'Open Sans', sans-serif;
            align-items: center;
            margin-top: 150px;
         }
    
    /*about us page */

    h4 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 300%;
        font-family: 'Open Sans', sans-serif;
        margin-top: 150px;
        font-weight: 500;
}
    .textoprincipalaboutus {
        display: flex;
        margin-top: 20px;
        margin-left: 20px;   
        text-decoration: gray;
        font-family: 'Open Sans', sans-serif;
        align-items: center;
        margin-top: 150px;
     }
       
    /*contact us page */

    h4 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 300%;
        font-family: 'Open Sans', sans-serif;
        margin-top: 150px;
        font-weight: 500;
    }
    .textoprincipalcontactus {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;   
            text-decoration: gray;
            font-family: 'Open Sans', sans-serif;
            align-items: center;
            margin-top: 150px;
         }
    
    /* works page */
  
    .grid-item{

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: grey;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;

        border: solid 1px white;

    }
    .grid-item:hover{
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    .gridcontainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;

    }



   /* Media Querys */

  
 @media screen and (max-width: 600px){
    
    body { background-color: yellow;
    
     }
     
    .header {
        flex-direction: row;
     }

    
    .imagenlogo{
        width: 30%;
        margin-left: 7px; 
        margin-top: 7px;

     }
    
    nav {
         display: none;
        
    }

    main {
        flex-direction: column;
     }
    .contenido{
        flex-direction: column;
    }

    h1{
        text-align:center;
        margin: 70px;
        letter-spacing: 7px;
        font-size: 300%;
        font-family: 'Rubik Glitch', cursive;
     }
    
    h2 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 40;
        font-family: 'Open Sans', sans-serif;
     }

    .ojo{
        width: 75%;
        height: 75%;
        margin-left: 60px;
        margin-top: 130px;
        shape-image-threshold: 3px;
        
     }
    
    
    .textoprincipal{
         flex-direction: column;
         align-items: center;
     }
    
    }
     

    /*hi there page*/

    h4 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 300%;
        font-family: 'Open Sans', sans-serif;
        margin-top: 150px;
        font-weight: 500;
    }
    .textoprincipalhithere {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;   
            text-decoration: gray;
            font-family: 'Open Sans', sans-serif;
            align-items: center;
            margin-top: 150px;
         }
    
   /*about us page */
  
    h4 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 300%;
        font-family: 'Open Sans', sans-serif;
        margin-top: 150px;
        font-weight: 500;
        }

    .textoprincipalaboutus {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;   
            text-decoration: gray;
            font-family: 'Open Sans', sans-serif;
            align-items: center;
            margin-top: 150px;
         }
    
/*contact us page */

    h4 {
            text-align: center;
            margin: 25px;
            letter-spacing: 15px;
            font-size: 300%;
            font-family: 'Open Sans', sans-serif;
            margin-top: 150px;
            font-weight: 500;
         }
    
    .textoprincipalcontactus {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;   
            text-decoration: gray;
            font-family: 'Open Sans', sans-serif;
            align-items: center;
            margin-top: 150px;
            padding-left: 20%;
         }
    .formregister{

        width: 400px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 55px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        justify-content: center;
    }
    .controls{
        width: 100%;
        background: rgb(196, 193, 193);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px;
        font-family:'Open Sans', sans-serif;
        font-size: 18px;
    }
    .formregister .button {

        color: grey;
        border: none;
        font-size: 16px;
    }
    .formregister .button2 {

        color: grey;
        border: none;
        font-size: 16px;
