/*pagina principal*/

  .contenido {
    display: contents;
  }
   .indexbody{
     background-color: grey;
   }
    h1 {
    text-align: center;
    margin: 70px;
    letter-spacing: 7px;
    font-size: 600%;
    font-family: "Rubik Glitch", cursive;
    transform: all 10s ;
    overflow: hidden;
   }

    h1:hover{
      transition: all;
      color: #ADFF2F;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.30, 3, 0.44, 2);
      -webkit-transition-duration: 3s;
      transform: translate(50px) scale(1.0);
   }
   .wrapper {
      display: inline-flex;
      margin-left: 50%;
     }
   .wrapper .static-txt{
       color: black;
       font-size: 20px;
       font-weight: 400;
       font-family: "Open Sans", sans-serif;
       letter-spacing: 5px;
     }
   .wrapper .dynamic-txts{
      margin-left: 50px;
     }
   .dynamic-txts li{
       list-style: none;
       font-size: 35px;
       font-weight: 300;
       font-family: "Rubik Glitch", cursive;      
       letter-spacing: 15px;
       color: #ADFF2F;
      }
   .dynamic-txts li span{
      position: relative;
     }
   .dynamic-txts li span::after{
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      border-left: 2px solid grey;
      background: grey;
      animation: typing 2s steps(100) infinite;
     }
    @keyframes typing{
      100%{
        left: 100%;
        margin: 0 -35px 0 35px;
      }
    }

  .ojo {
      width: 75%;
      height: 75%;
      margin-left: 180px;
      margin-top: 130px;
      shape-image-threshold: 3px;
      border-radius: 5px;
      filter: blur(10px);
   }
  
   .ojo:hover{
      filter:none;
      transition: all 1s ease;
   }
  
  h3 {
    margin-top: 150px;
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
   }
  
  .textoprincipal {
    text-align: flex;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: $bgcolor2;
    font-family: "Open Sans", sans-serif;
   }
  
  .fotos {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
   }
  
  .grid {
      margin-top: 150px;
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      padding: 2 rem;
      min-height: 500px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 500px);
      grid-template-areas: "ele2 ele1 ele1" "ele2 ele3 ele3" "ele2 ele4 ele5";
      gap: 0.3rem;
      row-gap: 2rem;
      column-gap: 2rem;
    
    
    &_hijo {
      color: $bgcolor;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    
    &_look {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      color: $bgcolor;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
    }
    
    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    &_hijo--1 {
      background-color: yellow;
      grid-area: ele1;
    }
    
    &_hijo--2 {
      background-color: red;
      grid-area: ele2;
    }
    
    &_hijo--3 {
      background-color: blue;
      grid-area: ele3;
    }
    
    &_hijo--4 {
      background-color: green;
      grid-area: ele4;
    }
    
    &_hijo--5 {
      background-color: $bgcolor2;
      grid-area: ele5;
    }
 
  }
  
  
  /*hi there page*/

  h4 {
    text-align: center;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 300%;
    font-family: "Open Sans", sans-serif;
    margin-top: 150px;
    font-weight: 700px;
   }

  .hitherebody{
    background-image: url(../imagenes/hi3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  
  .textoprincipalhithere {
    @extend .textoprincipal ;
    margin-top: 150px;
    margin-bottom: 150px;
    color: $bgcolor3;
  }
  
  
  /*about us page */

  .aboutusbody{
    background-image: url(../imagenes/hi3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  h4 {
    text-align: center;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 300%;
    font-family: "Open Sans", sans-serif;
    margin-top: 150px;
    font-weight: 900px;
    color: #ADFF2F;
  }
  
  .textoprincipalaboutus {
    @extend .textoprincipal;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #a2ff00;
    font-weight: 700px;
    
  }
  .contenidoaboutus{
    display: flex;
    align-items: center;
   
  }
  .left{
    color: $bgcolor3;
    @extend.textoprincipal;
  }
  .right{
    display: flex;
    justify-content: center;
  }
  .left, .right{
    width: 50%;
  }
 
/*contact us page */
 
.contactusbody{
    background-image: url(../imagenes/hands.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

 }  

h4 {
    text-align: center;
    margin: 25px;
    letter-spacing: 15px;
    font-size: 300%;
    font-family: "Open Sans", sans-serif;
    margin-top: 150px;
    font-weight: 900px;
  }
  
  .textoprincipalcontactus {
    @extend .textoprincipal;
    margin-top: 150px;
    margin-left: 350px;
    color: #a2ff00;
    font-weight: 700px;
    
  }
  .formregister{

    width: 500px;

    padding: 55px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: $bgcolor;
    justify-content: center;
}
.controls{
    width: 100%;
    background: rgb(196, 193, 193);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
}
.formregister .button {

    color: $bgcolor2;
    border: none;
    font-size: 16px;
}
.formregister .button2 {

    color: $bgcolor2;
    border: none;
    font-size: 16px;
    
}
  /* works page */
  
  .worksbody{
    background-image: url(../imagenes/hi3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;


  }

 .contenido2 {
    width: 100%;
    
  }
  
  .contenido3 {
    margin-top: 150px;
  }
  
  .imagenesworks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5rem;
   }
  
  .imagenesworks img:hover {
    transform: scale(1.7);
  }
  
  .imgworks {
    border-radius: 3%;
    padding: 10px;
    line-height: 80px;
    width: 600px;
    height: 600px;
    cursor: pointer;
  }
  

   /*MEDIA QUERYS*/


  @media screen and (min-width: 320px) and (max-width: 768px){

    
    /*pagina principal*/
    
    body { background-color: yellow;
     }
     
    .header {
        flex-direction: row;
       
     }
    .imagenlogo{
        width: 20%;
        margin-left: 7px; 
        margin-top: 7px;
     }
    
    nav {
         display: flex;
    }

    main {
        flex-direction: column;
     }
    .contenido{
        flex-direction: column;
    }

    h1{
        text-align:center;
        margin: 70px;
        letter-spacing: 7px;
        font-size: 300%;
        font-family: 'Rubik Glitch', cursive;
     }
    
     h1:hover{
        transition: all;
        color: $bgcolor3;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.30, 3, 0.44, 2);
        -webkit-transition-duration: 5s;
        transform: translate(15px) scale(1.3);
     }
    h2 {
        text-align: center;
        margin: 25px;
        letter-spacing: 15px;
        font-size: 40;
        font-family: 'Open Sans', sans-serif;
     }
     .wrapper {
      display: inline-flex;
      margin-left: 10%;
      font-family: "Rubik Glitch";
      font-weight:lighter
     }

    .ojo{
        width: 75%;
        height: 75%;
        margin-left: 60px;
        margin-top: 130px;
        shape-image-threshold: 3px;
     }

    .textoprincipal{
         flex-direction: column;
         align-items: center;
     }
     
     /*about us*/

    .textoprincipalaboutus{
      padding-left: 2%;
      padding-right: 4%;
      flex-direction: column;
    }
    .contenidoaboutus{
      flex-direction: column;

    }
    .imagenaboutus2{
      width: 450px;
      padding-bottom: 5%;
      padding-top: 15%;
    }

    /*works*/

    .imagenesworks {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-left: 1rem;
  
      
    }
    
    .imagenesworks img:hover {
      transform: scale(1.2);
    }
    
    .imgworks {
      border-radius: 3%;
      padding: 10px;
      line-height: 80px;
      width: 450px;
      height: 450px;
      cursor: pointer;
    }

    /* contact page */

    .textoprincipalcontactus {
      text-align: flex;
      display: flex;
      margin-top: 20px;
      margin-left: 20px;
      text-decoration: $bgcolor2;
      font-family: "Open Sans", sans-serif;
    }

    .formregister{

      width: 300px;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 55px;
      margin: auto;
      margin-top: 100px;
      border-radius: 4px;
      font-family: 'Open Sans', sans-serif;
      color: $bgcolor;
      justify-content: center;
  }
   .controls{
      width: 100%;
      background: rgb(196, 193, 193);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px;
      font-family:'Open Sans', sans-serif;
      font-size: 18px;
  }
   .formregister .button {
  
      color: $bgcolor2;
      border: none;
      font-size: 16px;
  }
   .formregister .button2 {
  
      color: $bgcolor2;
      border: none;
      font-size: 16px;
      
  }

  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {

  .header {
      flex-direction: row;
   }
  .imagenlogo{
      width: 20%;
      margin-left: 7px; 
      margin-top: 7px;
   }
  
  nav {
       display:flex;
  }

  main {
      flex-direction: column;
   }
  .contenido{
      flex-direction: column;
  }

  h1{
      text-align:center;
      margin: 70px;
      letter-spacing: 7px;
      font-size: 300%;
      font-family: 'Rubik Glitch', cursive;
   }
  
   h1:hover{
      transition: all;
      color: $bgcolor3;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.30, 3, 0.44, 2);
      -webkit-transition-duration: 5s;
      transform: translate(15px) scale(1.3);
   }
  h2 {
      text-align: center;
      margin: 25px;
      letter-spacing: 15px;
      font-size: 40;
      font-family: 'Open Sans', sans-serif;
   }
   .wrapper {
    display: inline-flex;
    margin-left: 10%;
    font-family: "Rubik Glitch";
    font-weight:lighter
   }

  .ojo{
      width: 85%;
      height: 85%;
      margin-left: 60px;
      margin-top: 130px;
      shape-image-threshold: 3px;
   }

  .textoprincipal{
       flex-direction: column;
       align-items: center;
   }
   
   /*about us*/

  .textoprincipalaboutus{
    padding-left: 4%;
    padding-right: 4%;
    flex-direction: column;
  }
  .contenidoaboutus{
    flex-direction: column;

  }
  .imagenaboutus2{
    width: 450px;
    padding-bottom: 5%;
    padding-top: 15%;
  }

  /*works*/


  .imagenesworks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 10rem;
  }
  
  .imagenesworks img:hover {
    transform: scale(1.2);
  }
  
  .imgworks {
    border-radius: 3%;
    padding: 10px;
    line-height: 80px;
    width: 450px;
    height: 450px;
    cursor: pointer;

  }

  /* contact page */

  .textoprincipalcontactus {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: $bgcolor2;
    font-family: "Open Sans", sans-serif;
  }

  .formregister{

    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: $bgcolor;
    justify-content: center;
}
  .controls{
    width: 100%;
    background: rgb(196, 193, 193);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
}
  .formregister .button {

    color: $bgcolor2;
    border: none;
    font-size: 16px;
}
  .formregister .button2 {

    color: $bgcolor2;
    border: none;
    font-size: 16px;
    
}


  


}
